<h1>New Addition</h1>
<form action="/add/results">
  <div>
    <label for= "number1">Add this:</label>
    <input id= "number1" type = "text" name = "user_number_one">
  </div>
  <div>
    <label for= "number2">To this:</label>
    <input id= "number2" type = "text" name = "user_number_two">
  </div>
  <button>Add!</button>
</form>